footer {
    background-color: var(--accent-bg);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    height: 80px;
    width: 60%px;
    text-align: center;
    display: grid;
    place-content: center;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: var(--text-secondary);
}

p {
    color: var(--text-secondary);
}