footer {
    background-color: var(--accent-bg);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .icons {
    display: flex;
    flex-direction: row;
    
}
footer .icons a {
    margin: 0 0 0 25px;
}

.navigation {
    height: 80px;
    width: 60%px;
    text-align: center;
    display: grid;
    place-content: center;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: var(--text-secondary);
}
.navigation ul li {
    margin: 10px 0 10px 25px;
}
.navigation ul li a:hover {
    color: var(--text-accent);
}

p {
    color: var(--text-secondary);
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    footer {
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .navigation ul {
        flex-direction: column;
        gap: 10px;
    }

    .icons {
        flex-direction: row;
    }

    .navigation li {
        margin: 5px 0;
    }
}
