.home {
    margin-top: 65px;
    background-image: linear-gradient(135deg, var(--secondary-bg), var(--primary-bg));
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#home-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
#home-left h5 {
    font-size: 14px;
    color: var(--text-primary);
}
#home-left h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    color: var(--text-accent);
}
#home-left h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: var(--text-primary);
}
#home-left p {
    color: var(--text-secondary);
    font-size: 16px;
}
#home-left .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin-top: 50px;
    padding: 10px;
}
.icons .bxl-github {
    color: var(--github);
}
.icons .bxl-linkedin-square {
    color: var(--linkedin);
}
.icons .bxl-stack-overflow {
    color: var(--stack);
}
.icons .bxl-twitter {
    color: var(--twitter);
}
.icons .bxl-whatsapp {
    color: var(--whatsapp);
}
.icons .bxl-facebook-square {
    color: var(--facebook);
}
.icons .bxl-instagram-alt {
    background: var(--instagram);
    border-radius: 5px;
}
.icons .bxl-discord-alt {
    color: var(--discord);
}

.icons a {
    text-decoration: none;
    display: grid;
    place-content: center;
    width: 58px;
    height: 58px;
    background-color: var(--accent-bg);
    border: 0.5px inset var(--accent-bg);
    border-radius: 4px;
}

#home-right {
    display: grid;
    place-content: center;
    width: 50%;
}
#home-right img {
    border: 0.5px solid var(--accent-bg);
    box-shadow: 6px 6px 8px 5px var(--text-accent);
}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 80px 20px 20px 20px; /* Add padding to account for fixed header */
    }

    #home-left,
    #home-right {
        width: 100%;
        margin: 0;
    }

    #home-left article {
        padding-right: 0;
    }

    #home-left h1 {
        font-size: 2.5em;
    }

    #home-left h3 {
        font-size: 1.5em;
    }

    #home-left p {
        font-size: 1em;
    }

    .icons {
        justify-content: center;
        margin-top: 20px;
    }

    #home-right img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 20px;
    }
}