* {box-sizing: border-box; margin: 0; padding: 0;} 

:root {
    --primary-bg: #ffffff;
    --secondary-bg: #f0f4f8;
    --accent-bg: #d1e7dd;
    --text-primary: #34495e;
    --text-secondary: #2c3e50;
    --text-accent: #4a90e2;

    --github: #24292E;
    --linkedin: #0A66C2;
    --stack: #F48024;
    --twitter: #1DA1F2;
    --whatsapp: #25D366;
    --facebook: #1877F2;
    --instagram: radial-gradient(
    circle at 30% 107%,
    #FDF497 0%,
    #FD5949 45%,
    #D6249F 60%,
    #285AEB 90%
  );
    --discord: #5865F2;
}
html {
    scroll-behavior: smooth;
    font-family: "Roboto Slab", serif;
}
body {
    background-color: var(--primary-bg);
} 
.navbar {
    background-color: var(--secondary-bg);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 10px 0 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li {
    width: auto;
    margin: 0 10px 0 25px;
}

ul li a{
    text-decoration: none;
    color: var(--text-primary);
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.navbar a:hover {
    color: var(--text-accent);
}

.menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .navbar #def {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    #dropdown {
        position: absolute;
        top: 100%; 
        right: 0;
        z-index: 10; 
        min-width: 200px;
        height: auto;
        background-color: #1f2937;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(-10px);
    }

    
    .menu-icon:hover > #dropdown {
        display: block; 
        opacity: 1; 
        transform: translateY(0);
    }

    #dropdown li {
        list-style: none;
        padding: 0;
    }
    
    #dropdown a {
        display: block;
        padding: 0.75rem 1.5rem;
        color: #d1d5db; 
        text-decoration: none;
        font-size: 1rem;
        transition: background-color 0.2s ease;
    }

    #dropdown a:hover {
        background-color: #374151; 
        color: #fff;
    }



}
