* {box-sizing: border-box; margin: 0; padding: 0;} 

:root {
    --primary-bg: #ffffff;
    --secondary-bg: #f0f4f8;
    --accent-bg: #d1e7dd;
    --text-primary: #34495e;
    --text-secondary: #2c3e50;
    --text-accent: #4a90e2;

    --github: #24292E;
    --linkedin: #0A66C2;
    --stack: #F48024;
    --twitter: #1DA1F2;
    --whatsapp: #25D366;
    --facebook: #1877F2;
    --instagram: radial-gradient(
    circle at 30% 107%,
    #FDF497 0%,
    #FD5949 45%,
    #D6249F 60%,
    #285AEB 90%
  );
    --discord: #5865F2;
}
html {
    scroll-behavior: smooth;
    font-family: "Roboto Slab", serif;
}
body {
    background-color: var(--primary-bg);
} 
.navbar {
    background-color: var(--secondary-bg);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 10px 0 10px;
    z-index: 1000;
}
.navbar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li {
    width: auto;
    margin: 0 10px 0 25px;
}


ul li a{
    text-decoration: none;
    color: var(--text-primary);
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.navbar a:hover {
    color: var(--text-accent);
}

@media (max-width: 720px) {
    .navbar ul li a {
        color: #25D366;
    }
}