.projects {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0 50px 0;
}

.project-tile {
    text-decoration: none;
    width: 250px;
    height: auto;
    background-color: var(--secondary-bg);
    margin: 20px;
    padding: 5px;
}
.project-tile img {
    width: 250px;
    height: 250px;
    display: grid;
    place-items: center;
}
.project-tile h5 {
    color: var(--accent-blue);
    font-size: 20px;
}