
#title {
    display: block;
    font-size: 1.8rem;
    color: var(--text-primary);
    text-align: left;
    padding: 10px;
    margin: 20px 0 0 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 45px;
    background-color: var(--secondary-bg);
}
#skill {
    width: 70%;
    height: 150px;
    margin: 18px;
    background-color: var(--secondary-bg);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 4px var(--accent-bg);
}


@media (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
    }

    #skill {
        padding: 15px;
    }
}
